.button {
  background: var(--color-black);

  border: 1px solid var(--color-white);
  white-space: nowrap;
  color: var(--text-black);
  box-sizing: border-box;
  text-transform: uppercase;
  border-radius: 4px;
  outline: 0;
  min-height: 40px;
  padding: 4px 24px 4px 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  letter-spacing: 0.6px;
  font-weight: 600;
  overflow-wrap: break-word;
  user-select: none;
  cursor: pointer;

  box-shadow: 0 1px 2px var(--color-black07);
  transition: 200ms ease all;
  transform: scale(1);
  text-decoration: none;
  color: var(--color-white);
  &:hover {
    box-shadow: 0 5px 15px var(--button-shadow);
  }
}

.loading {
  cursor: wait;
  padding: 4px 48px 4px 48px;
}
