.heroContainer {
  background: var(--color-blue);
  background-position: center;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  align-items: center;
  justify-content: center;
}

.column1 {
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: var(--page-gutters-left-default);
}

.column2 {
  width: 50%;
}

.heading {
  font-family: 'Sohne-Halbfett';
  font-size: var(--fontSize_Giant);
  padding-bottom: 12px;
}

.subheading {
  font-family: 'Mono';
  max-width: 50ch;
  padding-bottom: 28px;
}

.headingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  padding: var(--page-gutters-desktop);
  margin: 0 auto 0 auto;
  max-width: var(--page-width);
  margin-top: 24px;

  @media (max-width: 768px) {
    padding: var(--page-gutters-default);
  }
}

.smallHeading {
  font-family: 'Sohne-Halbfett';
  font-size: 28px;

  @media (max-width: 1050px) {
    font-size: 24px;
  }

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.label {
  color: var(--color-white);
  font-size: 16px;
  background: var(--color-text);
  font-family: 'Mono';
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid var(--color-white);

  @media (max-width: 768px) {
    font-size: 12px;
  }

  @media (max-width: 360px) {
    font-size: 8px;
    white-space: nowrap;
  }
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 36px;
  width: 100%;
  padding: var(--page-gutters-default);
  margin: 0 auto 0 auto;
  max-width: var(--page-width);
  overflow: hidden;

  @media (max-width: 768px) {
    row-gap: 40px;
  }

  @media (max-width: 300px) {
    row-gap: 8px;
  }
}

.graphicsContainer {
  display: flex;

  .pixelsIcon {
    position: absolute;
    top: 30%;
    left: 5%;

    @media (max-width: 1050px) {
      width: 6rem;
      top: 15%;
      left: 2%;
    }

    @media (max-width: 768px) {
      width: 3rem;
    }
  }
  .estuaryIcon {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
    right: 26%;
  }

  .filecoinIcon {
    width: 100%;
    height: 22rem;
    position: absolute;
    bottom: 0;
    right: -40%;
    @media (max-width: 1050px) {
      height: 8rem;
      right: -45%;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.filecoinFlag {
  height: auto;
  @media (max-width: 768px) {
    width: 6rem;
    margin: 0 auto 0 auto;
  }
}
