.container {
  height: 100vh;
}

.background {
  height: 50vh;
  background: var(--color-green);
}

.content {
  padding: var(--page-gutters-desktop);
}

.eyebrow {
  font-family: 'Mono';
  padding-bottom: 12px;
}

.title {
  font-family: 'Parabole';
  padding-bottom: 16px;
}

.paragraph {
  font-family: 'Mono';
  max-width: 56ch;
}

.textContainer {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.videoContainer {
  background: black;
  border-radius: 24px;
  height: 70vh;
}
